<ion-content padding>

  <ion-list lines="none" margin>
    <br>
    <ion-label text-center color="secondary"><h1><b>BIENVENIDO</b></h1></ion-label>
    <br>
    <ion-item margin-bottom> 
      <ion-icon name="person" mode="md" slot="start" color="medium"></ion-icon>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon name="lock" mode="ios" slot="start" color="medium"></ion-icon>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>

    <p>Lorem Ipsum</p>
    <br>
    <ion-button (click)="login()" tappable expand="block" class="ion-text-capitalize">Lorem</ion-button>
    <br><br><br>
    <p class="ion-text-center">Lorem Ipsum?</p>
    <ion-button  routerLink="/registration-level1" routerDirection="root" tappable expand="block" class="ion-text-capitalize">Lorem</ion-button>

  </ion-list>

</ion-content>