<ion-content padding>

  <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
<ion-list lines="none" class="ion-margin-horizontal">
    <ion-label text-center color="medium"><h1><b>Lorem Ipsum</b></h1></ion-label>
    <br>
    
    <p class="ion-text-center">Monday</p>

      <ion-row>
        <ion-col no-padding>
            <ion-checkbox style="margin: 8px;"></ion-checkbox>
        </ion-col>
        <ion-col no-padding>
            <ion-thumbnail class="custom-thumbnail-bot-small">
                <img src="./../../assets/imgs/person.png">
              </ion-thumbnail>
        </ion-col>
        <ion-col no-padding>
            <ion-select placeholder="One">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
              </ion-select>
        </ion-col>

        <ion-col no-padding>
          <ion-select placeholder="One">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col no-padding>
          <ion-thumbnail class="custom-thumbnail-bot-small">
            <img src="./../../assets/imgs/blue-wheel.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col style="margin: 8px;" no-padding>
            <ion-checkbox no-margin></ion-checkbox>
        </ion-col>
      </ion-row>

      <p class="ion-text-center">Monday</p>

      <ion-row>
        <ion-col no-padding>
            <ion-checkbox style="margin: 8px;"></ion-checkbox>
        </ion-col>
        <ion-col no-padding>
            <ion-thumbnail class="custom-thumbnail-bot-small">
                <img src="./../../assets/imgs/person.png">
              </ion-thumbnail>
        </ion-col>
        <ion-col no-padding>
            <ion-select placeholder="One">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
              </ion-select>
        </ion-col>

        <ion-col no-padding>
          <ion-select placeholder="One">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col no-padding>
          <ion-thumbnail class="custom-thumbnail-bot-small">
            <img src="./../../assets/imgs/blue-wheel.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col style="margin: 8px;" no-padding>
            <ion-checkbox no-margin></ion-checkbox>
        </ion-col>
      </ion-row>
      
    <p class="ion-text-center">Monday</p>

    <ion-row>
      <ion-col no-padding>
          <ion-checkbox style="margin: 8px;"></ion-checkbox>
      </ion-col>
      <ion-col no-padding>
          <ion-thumbnail class="custom-thumbnail-bot-small">
              <img src="./../../assets/imgs/person.png">
            </ion-thumbnail>
      </ion-col>
      <ion-col no-padding>
          <ion-select placeholder="One">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
            </ion-select>
      </ion-col>

      <ion-col no-padding>
        <ion-select placeholder="One">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col no-padding>
        <ion-thumbnail class="custom-thumbnail-bot-small">
          <img src="./../../assets/imgs/blue-wheel.png">
        </ion-thumbnail>
      </ion-col>
      <ion-col style="margin: 8px;" no-padding>
          <ion-checkbox no-margin></ion-checkbox>
      </ion-col>
    </ion-row>

    
    <p class="ion-text-center">Monday</p>

      <ion-row>
        <ion-col no-padding>
            <ion-checkbox style="margin: 8px;"></ion-checkbox>
        </ion-col>
        <ion-col no-padding>
            <ion-thumbnail class="custom-thumbnail-bot-small">
                <img src="./../../assets/imgs/person.png">
              </ion-thumbnail>
        </ion-col>
        <ion-col no-padding>
            <ion-select placeholder="One">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
              </ion-select>
        </ion-col>

        <ion-col no-padding>
          <ion-select placeholder="One">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col no-padding>
          <ion-thumbnail class="custom-thumbnail-bot-small">
            <img src="./../../assets/imgs/blue-wheel.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col style="margin: 8px;" no-padding>
            <ion-checkbox no-margin></ion-checkbox>
        </ion-col>
      </ion-row>

      
    <p class="ion-text-center">Monday</p>

    <ion-row>
      <ion-col no-padding>
          <ion-checkbox style="margin: 8px;"></ion-checkbox>
      </ion-col>
      <ion-col no-padding>
          <ion-thumbnail class="custom-thumbnail-bot-small">
              <img src="./../../assets/imgs/person.png">
            </ion-thumbnail>
      </ion-col>
      <ion-col no-padding>
          <ion-select placeholder="One">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
            </ion-select>
      </ion-col>

      <ion-col no-padding>
        <ion-select placeholder="One">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col no-padding>
        <ion-thumbnail class="custom-thumbnail-bot-small">
          <img src="./../../assets/imgs/blue-wheel.png">
        </ion-thumbnail>
      </ion-col>
      <ion-col style="margin: 8px;" no-padding>
          <ion-checkbox no-margin></ion-checkbox>
      </ion-col>
    </ion-row>

    
    <p class="ion-text-center">Monday</p>

      <ion-row>
        <ion-col no-padding>
            <ion-checkbox style="margin: 8px;"></ion-checkbox>
        </ion-col>
        <ion-col no-padding>
            <ion-thumbnail class="custom-thumbnail-bot-small">
                <img src="./../../assets/imgs/person.png">
              </ion-thumbnail>
        </ion-col>
        <ion-col no-padding>
            <ion-select placeholder="One">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
              </ion-select>
        </ion-col>

        <ion-col no-padding>
          <ion-select placeholder="One">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col no-padding>
          <ion-thumbnail class="custom-thumbnail-bot-small">
            <img src="./../../assets/imgs/blue-wheel.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col style="margin: 8px;" no-padding>
            <ion-checkbox no-margin></ion-checkbox>
        </ion-col>
      </ion-row>

      
    <p class="ion-text-center">Monday</p>

    <ion-row>
      <ion-col no-padding>
          <ion-checkbox style="margin: 8px;"></ion-checkbox>
      </ion-col>
      <ion-col no-padding>
          <ion-thumbnail class="custom-thumbnail-bot-small">
              <img src="./../../assets/imgs/person.png">
            </ion-thumbnail>
      </ion-col>
      <ion-col no-padding>
          <ion-select placeholder="One">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
            </ion-select>
      </ion-col>

      <ion-col no-padding>
        <ion-select placeholder="One">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col no-padding>
        <ion-thumbnail class="custom-thumbnail-bot-small">
          <img src="./../../assets/imgs/blue-wheel.png">
        </ion-thumbnail>
      </ion-col>
      <ion-col style="margin: 8px;" no-padding>
          <ion-checkbox no-margin></ion-checkbox>
      </ion-col>
    </ion-row>

    <br>
    <ion-button tappable slot="end" class="ion-text-capitalize">Lorem</ion-button>
    
  </ion-list>  

  

</ion-content>
