ion-content{
    --background: #e8e8e8;
}
ion-list{
    background: #e8e8e8;
    ion-item{
        border-radius: 10px;
        --background: #ffffff;
    }
}
ion-thumbnail{
    margin: 0 auto;
    --size: 90px;
}