ion-content{
    --background: #e8e8e8;
}
ion-list{
    background: #e8e8e8;
    ion-item{
        border-radius: 10px;
        --background: #ffffff;
    }
}
.custom-thumbnail{
    margin: 0 auto;
    --size: 90px;
    border: 5px solid #24dfbb;
    border-radius: 15px;
}
.custom-thumbnail-bot{
    margin: 0 auto;
    --size: 70px;
}
agm-map {
    height: 300px;
  }