<ion-content padding>

  <ion-buttons>
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>

  <ion-list lines="none" class="ion-margin-horizontal">
    <ion-label text-center color="medium">
      <h1><b>Lorem Ipsum</b></h1>
      <ion-text text-center color="medium">It has survived not only five centuries, but also the leap into electronic typesetting.</ion-text>
    </ion-label>
  </ion-list>

  <ion-item class="custom-item">
    <input style="width: 100%;border: none;" class="google-place-input text-input text-input-ios" id="searchTextField"
      #search type="text" google-place (onSelect)="setAddress($event)" placeholder="Your Building Address*">
  </ion-item>
  <br>

  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <br>

  <ion-item class="custom-item">
    <ion-label>Select</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <br>
  
  <ion-button (click)="register()" tappable class="ion-text-capitalize">Lorem</ion-button>


</ion-content>